
#top {
    position: relative;
    padding: 0;
    margin: 0;
}

#bottom {
    position: fixed;
    bottom: 0;
    background-color: #c2dfef;
    padding: 5px 0px 5px 0px;
    text-align: center;
    width: 98%;
}

#left {
    display: none;
    float: left;
    background-color: #F0C300;
    width: 150px;
}

#right {
    display: none;
    float: right;
    background-color: #F0C300;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 3px 3px 5px #666666;
    margin: 10px 200px 10px 200px;
}

#top a:link, #top a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
}


