
#top {
    position: relative;
    padding: 0;
    margin: 0;
}

#bottom {
    position: fixed;
    bottom: 0;
    background-color: #c2dfef;
    padding: 5px 0px 5px 0px;
    text-align: center;
    width: 98%;
}

#left {
    float: left;
    background-color: #730800;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#left a{
    color: #ffffff;
}

#right {
    float: right;
    background-color: #F0C300;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display:flex;
    justify-content: center;
    align-content: center;

}

#right span{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #ffffff;
    padding: 5px;
    box-shadow: 3px 3px 5px #666666;
    margin: 10px 200px 10px 200px;
}

#top a:link, #top a:visited {
    color: black;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
}

.tagElement {
    display: inline;
    font-style: italic;
    color: grey;
}

.tagList {
    padding: 0;
    margin: 0;
    border: none;
}

.titre {
    font-weight: bold;
    font-size:  20px;
}

.datePublication {
    position: relative;
    right: -70%;
}
    
li.commentaire {
    display: block;
    margin-top: 5px;
}

li.commentaire .infos {
    text-align: right;
    font-size: 12px;
    margin:0;
}