/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 7, 2017, 11:27:13 AM
    Author     : mignotju
*/

#boutonAnnuler 
{
    color: #2F4F4F;
    background-image: none;
    background-color: #D19275;
    float: right;
    margin-top: 20px;
}

#titre 
{
    text-align: center;
}

.boutonValidation.ui-button
{
    background-color: #D19275;
    background-image: none;
}